.App {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .App {
    margin: 0 10px;
  }
}
